 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 html, body{
     height: 100%;
     width: 100%;
 }


 body{
    background-color: rgb(32, 32, 32);
 }

 .note{
    display: flex;
    gap: 2rem;
 }

 .title{
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    
 }